BACKEND_PORT=5000
FRONTEND_PORT=3000
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_USER="admin"
POSTGRES_PASSWORD="admin"
POSTGRES_DB="simulador-frete"
GOOGLE_MAPS_API_KEY=*************
GOOGLE_MAPS_URL=https://maps.googleapis.com/maps/api/geocode/json?address=